
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$hover-grey: #c0c0c0;

body
{
  display: flex;
  margin: 0;
  justify-content: center;
  font-size: 16px;
  background: #333;
  font-family: $font;
}

#root { width: auto; }

*
{ 
  box-sizing: border-box;
  transition: 0.3s, transform 0.15s;
  outline: none;
  opacity: 1;
}

.widget
{
  width: 80vw;
  margin: 50px 0;
  min-width: 350px;
  max-width: 500px;
  background: gainsboro;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px #111, 
              0 10px 20px #111,
              0 15px 30px #111;
  // border: 1px solid red;

  .dropdown
  { height: auto; }
  
  .ref-tab-wrapper
  {
    
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background: rgb(240, 19, 137);
    color: white;
    cursor: pointer;
    // border: 1px solid blue;

    &:hover
    { background: rgb(214, 0, 114); }

    .caret-icon
    {
      font-weight: bold;
      transform: rotate(90deg);
    }

    .flip-caret-icon
    { transform: rotate(270deg); }
  }

  .tab-links-wrapper
  {
    display: flex;
    box-shadow: 0 3px 8px #bbb;

    button
    {
      width: 50%;
      padding: 14px 5px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      border: none;
      cursor: pointer;
      font-size: 15px;
      font-family: $font;
      font-weight: bold;
      background: white;
      // border-bottom: 1px solid darkgray;

      &.back-btn,
      &.graph-tab-link
      {
        width: 55px;
        font-size: 18px;
        padding: 1.5px;
        background: rgb(84, 193, 236);
        color: rgb(255, 255, 0);
        
        &:hover
        { background: $hover-grey; }
      }

      &[class^=active]
      { background: gainsboro; }

      &.recommended-tab-link,
      &.required-tab-link,
      &.graph-tab-link
      {
        &.active-tab-link
        {
          background: gainsboro;

          &:before
          {
            content: '› ';
            font-size: 15px;
            color: black;
          }
          &:after
          {
            content: ' ‹';
            font-size: 15px;
            color: black;
          }
        }
      }

      &:hover
      {
        background: $hover-grey; 
        transform: scale(1.04);
      }
    }
  }

  ul
  {
    padding: 0;
    margin: 0;
    // border: 1px solid darkcyan;
    max-height: 304px;
    overflow-y: auto;
    cursor: pointer;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: 1s, opacity 0.6s;
    
    
    &.tab
    {
      .tab-items-wrapper
      {
        // border: 1px solid yellow;
        padding: 16px 13px;
        width: 100%;
        border-bottom: 1px solid $hover-grey;

        li
        {
          margin-left: 18px;
          list-style-type: decimal;
          padding-left: 10px;

          span
          {
            &.props
            { display: block; }

            &.props:nth-child(1)
            {
              font-weight: bold;
              margin-bottom: 5px;
            }

            &.props:nth-child(2)
            { margin-bottom: 5px; }

            &.props:nth-child(3)
            { font-style: italic; }
          }
        }

        &:hover
        {
          background: #ccc;
          padding-left: 20px;
        }
      }
    }

    &.active-tab
    {
      height: auto;
      opacity: 1;
      visibility: visible;
    }

    .graph-wrapper
    {
      text-align: center;
      
      h1 { margin: 100px 0 }
    }
  }
}






