
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$hover-grey: #c0c0c0;

body
{
  display: flex;
  margin: 0;
  margin-top: 50px;
  // height: 100vh;
  justify-content: center;
  // align-items: center;
  font-size: 16px;
  background: #333;
  font-family: $font;
}

*
{ 
  box-sizing: border-box;
  transition: 0.3s;
  outline: none;
  opacity: 1;
}

.app
{
  width: 80%;
  min-width: 350px;
  max-width: 600px;
  background: gainsboro;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 10px #111, 
              0 10px 20px #111,
              0 15px 30px #111;
  // border: 1px solid red;

  .dropdown-container
  { height: 0; }
  
  .ref-dropdown-wrapper
  {
    
    padding: 12px;
    display: flex;
    justify-content: space-between;
    background: rgb(240, 19, 137);
    color: white;
    cursor: pointer;
    // border: 1px solid blue;

    &:hover
    { background: rgb(214, 0, 114); }

    .ref-dropdown-icon
    { 
      font-weight: bold;
      transform: rotate(90deg);
    }

    .icon-flip
    { transform: rotate(270deg); }
  }

  .top-toggle-wrapper
  {
    display: flex;

    button
    {
      width: 50%;
      padding: 14px;
      border: none;
      cursor: pointer;
      font-size: 15px;
      font-family: $font;
      font-weight: bold;
      background: white;
      // border-bottom: 1px solid darkgray;

      &.active
      { background: gainsboro; }

      &:hover
      { background: $hover-grey;}

      &.back-btn,
      &.star-btn
      {
        width: 40px;
        font-size: 22px;
        padding: 0;
        background: rgb(84, 193, 236);
        color: yellow;
        
        &:hover
        { background: rgb(88, 169, 201); }
      }
    }
  }

  ul
  {
    padding: 0;
    margin: 0;
    // border: 1px solid darkcyan;
    max-height: 304px;
    overflow-y: auto;
    cursor: pointer;
    
    &.dropdown
    {
      .dropdown-items-wrapper
      {
        // border: 1px solid yellow;
        padding: 16px 13px;
        border-top: 1px solid $hover-grey;

        li
        {
          margin-left: 18px;
          list-style-type: decimal;
          padding-left: 10px;

          span
          {
            display: block;

            &.title
            {
              font-weight: bold;
              margin-bottom: 5px;
            }

            &.author
            { font-style: italic; }
          }
        }

        &:hover
        { background: $hover-grey; }
      }
    }

    &.inactive-dropdown
    {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.hide
{
  visibility: hidden;
  opacity: 0;
  height: 0;
}






