

body
{
  display: flex;
  margin: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

*
{ box-sizing: border-box; }

.app
{
  border: 1px solid red;
  width: 80%;
  min-width: 350px;
  max-width: 650px;
  
}

.ref-dropdown-wrapper
{
  border: 1px solid blue;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.top-toggle-wrapper
{ 
  display: flex;

  button
  {
    width: 50%;
    padding: 14px;
    border: none;
    cursor: pointer;
    font-size: 15px;

    &.required-btn
    {
      border-right: 1px solid darkgrey;
    }

    &.active
    {
      background: orange;
    }
  }
}

ul
{
  padding: 0;
  margin: 0;
  border: 1px solid darkcyan;
  max-height: 600px;
  overflow-y: auto;
  
  .dropdown-items-wrapper
  {
    border: 1px solid yellow;
    padding: 15px 12px;
  }

  li
  {
    
    margin-left: 15px;
    list-style-type: decimal;
    padding-left: 10px; 

    span
    {
      display: block;

      &.title
      {
        font-weight: bold;
        margin-bottom: 5px;
      }

      &.author
      { font-style: italic; }
    }
  }
}



